*{
    margin: 0;
    padding: 0;
}
.main-contener{
    width: 1600px;
    margin: auto;

}
.mid-content{
    width: 1350px;
    margin: auto;
}

.text-center{
text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}

.left{
    float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;  
}

ul li{
    list-style: none;
}

body,h1,h2,h3,h4,h5,p,a,span{
    font-family: 'Roboto', sans-serif;
}

/* <!-- Main CSS --> */
.header-section{
    background-color: #FF416C;
    position: fixed;
    padding-right: 125px;
    padding-left: 125px;
    z-index: 999;
}
.hedear-logo{
    width: 5%;
    padding: 10px;
}
.hedear-menue{
    width: 78%;

}
.hedear-button{
    width: 10%;
}
.hedear-menue ul {
    margin: 0;
}
.hedear-menue ul li{
    display: inline-block;
}
.hedear-menue ul li a{
    padding: 0px 37px;
    display: block;
    line-height: 68px;
    color: #fff;
}




/* *button and hover */
.heder-btn a{
    color: #000;
    line-height: 67px;
    background: #fff;
    padding: 11px 30px;
    font-size: 19px;
    border-radius: 6px;
    transition: .5s;
}
.heder-btn a:hover{
    background-color: darkcyan;
    color: #fff;
}

/* Droupdown menue */

.hedear-menue ul li{
    position: relative;
}
.hedear-menue ul li ul{
    position: absolute;
    left: 0;
    top: 100%;
    color: #000;
    width: 208px;
    padding-left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    transform: scaley(0);
    transform-origin: top center;
}
.hedear-menue ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaley(1);
    
}
.hedear-menue ul li ul li a {
    padding-top: 15px;
    width: 300px;
}

/* <!-- Banner Section --> */

.banner-section{
    background-image: url("../siteproject/img/pexels-moose-photos-170195-1037996.jpg");

    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 220px 0;
    color: #fff;
}
.heder-btn a{
    color: #000;
    line-height: 67px;
    background: #fff;
    padding: 11px 30px;
    font-size: 19px;
    border-radius: 6px;
    transition: .5s;
}
.heder-btn a:hover{
    background-color: darkcyan;
    color: #fff;
}
.banner-content h2{
    font-size: 50px;
}

.banner-content p{
    margin-top: 15px;
    margin-bottom: 32px;
    font-size: 30px;
}

a.heder-btnb{
    background: #000;
    padding: 15px 31px;
    border-radius: 10px;
    margin-left: -6px;
    margin-right: 24px;
    color: #ffffff;
    transition: .5s;
}
a.heder-btnt{
    background: #fff;
    padding: 15px 31px;
    border-radius: 10px;
    margin-left: -6px;
    margin-right: 24px;
    color: #000;
    transition: .5s;

}
a.heder-btnt:hover{
    background-color: #000;
    color: #fff;
}
a.heder-btnb:hover{
    background-color: #fff;
    color: #000;
}


* {
    outline: none;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    background-color: #ffd8d8;
}

.tb {
    display: table;
    width: 100%;
}

.td {
    display: table-cell;
    vertical-align: middle;
}

input,
button {
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#cover {
    position: absolute;
    top: 50%;
    left: 50px;
    right: 0;
    width: 360px;
    height: 40px;
    padding: 35px;
    margin: -250px -80px 0 auto;
    background-color: #ff7575;
    border-radius: 20px;
    box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
}

form {
    height: 96px;
}

input[type="text"] {
    width: 100%;
    height: 50px;
    font-size: 60px;
    line-height: 1;
}

input[type="text"]::placeholder {
    color: #e16868;
}

#s-cover {
    width: 1px;
    padding-left: 35px;
}

button {
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

#s-circle {
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

button span {
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

button span:before,
button span:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span {
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
}

#s-cover:hover button span:before,
#s-cover:hover button span:after {
    right: -6px;
    width: 40px;
    background-color: #fff;
}

/* <!-- About Section --> */

.about-section{
    background-color: #87a471;
    height: 1200px;
}
.about-main{
    position: relative;
}
.about-main h2::before{
    content: "";
    top: 113px;
    left: 545px;
    width: 20%;
    background-color: #fff;
    height: 4px;
    position: absolute;

}
.about-main h2{
    font-size: 50px;
    text-shadow: 3px 0px 4px #fff;
    color: #fff;
}

.image-sec{
    width: 400px;
}
.text-about{
    width: 800px;
    display: block;
    margin-top: 5%;
    color: #fff;
    font-weight: 300;
}

/* <!-- What Section --> */

.what-about{
    background-color: #606a64;
    color: #fff;
    height: 600px;
}
.whatme p{
    width: 600px;
    font-weight: 300;
    margin-left: 323px;
}

.whatme h2{
    padding: 20px;
}

.whatme{
    position: relative;
}
.whatme h1::before{
    content: "";
    top: 97px;
    left: 575px;
    width: 15%;
    background-color: #fff;
    height: 4px;
    position: absolute;
}

/* Services Iteam */
.services-box{
    width: 29.3%;
    box-shadow: 0px 0px 6px 0px #000;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin-left: 35px;
 }
.s-icon{
    color: #38cbb2;
    width: 74px;
    float: left;
    height: 145px;
    font-size: 50px;
}
.s-text{
    color: #000;
    margin-top: 7px;
}


/* <!-- Check Out Section --> */

.check-out{
    background-color: #87a471;
    text-align: center;
    color: #fff;
    height: 690px;
}
.check-box img{
    width: 500px;
}

.check-box{
    width: 500px;
    border: 1px solid #fff;
    margin-left: 75px;
    margin-right: 100px;
}
.check-text{
   padding: 20px; 
}
.check-text p{
    color: #000;
}
.check-text h5{
    font-size: 20px;
}

.image-box{
    width: 250px;
    margin-top: 50px;
    margin-left: 62px;
    margin-right: 10px;
}

/* <!-- Teammember Section --> */
.teammeber{
    background-color: #5b9776;
    height: 400px;
}

.teamimg {
    width: 300px;
    margin-top: 137px;
    margin-left: 2%;
}
.allmembers {
    margin-left: 15%;
    margin-top: -11%;
}

.team-text h2{
    padding: 47px;
    color: #fff;
    font-size: 30px;
}

.teammeber{
    position: relative;
}
.team-text h2::before{
    content: "";
    top: 97px;
    left: 692px;
    width: 14%;
    background-color: #fff;
    height: 4px;
    position: absolute;
}
.icon{
    color: #fff;
    padding: 16px;
    margin-left: 22px;
}
.icon i {
    margin-left: 30px;
}
.icon a{
    color: #fff;
    transition: .5s;
}

.icon a:hover{
    color: black;
}

.aboutme{
    background-color: #606a64;
    height: 400px;
    text-align: center;
    padding: 100px;
    color: #fff;
}
.abme-text h2{
    font-size: 30px;
}
.abme-text p{
    width: 500px;
    text-align: center;
    margin-left: 30%;
    padding: 20px;
    font-weight: 300;
}

.copyright{
    background-color: #000;
    color: #fff;
    text-align: center;
    font-weight: 300;
}
.copyright p{
    padding: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;

    --bg: #EBEBEB;
    --black: #333333;
    --prog: #A4B7BE;
}


body {
    background: var(--bg);
    color: var(--black);
}

a {
    text-decoration: none;
}

.player {
    width: 80%;
    max-width: 275px;
    min-height: 550px;
    margin: 2rem auto;
    padding: 3rem 1.25rem;
    background: var(--bg);
    box-shadow: 20px 20px 60px #c8c8c8, 
                -20px -20px 60px #ffffff;
    border-radius: 15px;
    border: 1px solid rgb(223, 223, 223);
    position: relative;
}
.player::before {
    content: '';
    display: block;
    background: #333;
    width: 100px;
    height: 20px;
    border-radius: 0 0 50% 50%; 
    position: absolute;
    top: 0;
    left: 87px;
}

.header {
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-items: center;
}

.header > .button {
    width: 2rem;
    height: 2rem;
    display: grid;
    align-items: center;
    justify-items: center;
    color: var(--black);
    background: linear-gradient(145deg, #fbfbfb, #d4d4d4);
    box-shadow:  4px 4px 7px #cccccc, 
                 -4px -4px 7px #ffffff;
    border-radius: 6px;
}

.art {
    display: block;
    width: 175px;
    height: 175px;
    margin: 1rem auto;
    border-radius: 50%;
    border: 4px solid #EBEBED;
    box-shadow:  16px 16px 57px #acacac, 
                -16px -16px 57px #ffffff;
}

.info {
    margin: 1.5rem 0;
    text-align: center;
}
.info h1 {
    color: var(--black);
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.info p {
    font-size: 1.15rem;
    color: var(--prog);
}

.prog {
    padding: 10px 0;
}
.prog-time {
    padding: 3px 5px;
    color: var(--prog);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.prog-time > p {
    font-size: 0.65rem;
}

.prog-bar {
    width: 100%;
    height: 10px;
    padding: 1px;
    border-radius: 25px;

    background: linear-gradient(145deg, #fbfbfb, #d4d4d4);
    box-shadow:  5px 5px 10px #a5a5a5, 
                -5px -5px 10px #ffffff;

}

.prog-bar-inner {
    height: 8px;
    background: var(--prog);
    border-radius: 25px;
}

.buttons {
    margin: 2rem 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    color: var(--prog);
    border-radius: 50%;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px #d4d4d4, 
                -5px -5px 10px #ffffff;
}

.button-sm {
    width: 2rem;
    height: 2rem;
    opacity: 0.75;
}

.button-md {
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.85;
}
.button-lg {
    width: 3.25rem;
    height: 3.25rem;
    box-shadow: inset 6px 6px 12px #c8c8c8, 
            inset -6px -6px 12px #ffffff
}


.bar {
    width: 50%;
    height: 2px;
    margin: auto;
    background: var(--prog);
    border-radius: 25px;
    position: absolute;
    left: 25%;
    bottom: 1rem;
}

.credit {
    background: linear-gradient(45deg, #3297D3, #8FEFFB);
    color: var(--black);
    padding: 1rem 0;
    text-align: center;
}


.art {
    animation: rolling-disk 7.5s 0.25s linear infinite;
}
.prog-bar-inner {
    animation: timer 30s linear 0.1s;
}

/*      keyframes   */
@keyframes timer {
    0%      {width: 0%;}
    100%    {width: 100%;}
}

@keyframes rolling-disk {
    0%      {transform: rotate(0);}
    100%    {transform: rotate(1turn);}
}